@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Patrick+Hand&family=Quintessential&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Amatic+SC:wght@400;700&display=swap');
 :root {
 --primary-color: #1B98E0;
 --secondary-color: #136c9f;
 --text-dark: #333;
 --text-light: #ebebeb;
 --primary-font: Arial, Helvetica,sans-serif;
 --secondary-font: "Amatic SC";
}

header {
    text-align: center;
    display: flex;
    justify-content: center;
}

.logo {
    max-width: 75px;
}

h1 {
    gap: 10px;
    font-size: 3em;
}

#searchbox {
    display: flex;
    width: 100vw;
    max-width: 100%;
    justify-content: center;
    height: 40px;
}

input {
    width: 85%;
    border-radius: 5px 0 0 5px;
    font-size: 20px;
}

form img {
    max-width: 30px;
    border: 1px solid black;
    border-radius: 0 5px 5px 0;
    padding: 5px;
}

hr {
    margin: 20px 0 20px 0;
}

.recipe {
    display: flex;
    flex-direction: column;
    border: 1px black solid;
    border-radius: 10px;
    padding: 25px;
    margin: 20px;
    margin-bottom: 50px;
}

img {
    max-width: 100%;
}

button {
    height: 35px;
    width: 100px;
    margin-top: 5px;
    font-size: 20px;
    background-color: white;
}

h1, h2 {
    font-family: "Quintessential", serif;
    font-weight: 400;
    font-style: normal;
}

h2 {
    color: var(--primary-color);
    margin-bottom: 0px;
}

.rating {
    margin-bottom: 20px;
}

.description {
    display: none;
}

.social {
    display: flex;
    gap: 10px;
    justify-content: center;
}

footer {
    text-align: center;
}

.social img{
    width: 50px;
}

a {
    text-decoration: none;
    color: var(--secondary-color);
}

@media screen and (min-width: 600px) {
    .recipe {
        flex-direction: row;
    }

    .recipe img {
        max-width: 300px;
        margin-right: 10px;
    }

    .description {
        display: block;
    }
}

@media screen and (min-width: 960px) {
    body {
        max-width: 960px;
        margin: 0 auto;
    }
}