@import url('https://fonts.googleapis.com/css2?family=Funnel+Sans:ital,wght@0,300..800;1,300..800&family=Quintessential&display=swap');
:root {
 --primary-color: #1F5F13;
 --secondary-color: #90A959;
 --accent-color: #6494AA;
 --secondary-accent: #F9CA4A;
 --dark-accent: #030C1C;
}

body {
    font-family: "Funnel Sans", sans-serif;
}

h1, h2 {
    font-family: "Quintessential", serif;
    font-weight: 600;
    font-style: normal;
    text-align: center;
}

h1 {
    font-size: 2.25rem;
    padding: 10px;
}

nav {
    text-align: center;
    border-top: 3px solid var(--secondary-color);
    border-bottom: 3px solid var(--secondary-color);
    justify-content: end;
    justify-items: end;
}

ul {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    list-style-type: none;
    padding-left: 0;
    margin: 5px;
    margin-right: 7%;
}

a {
    color: var(--primary-color);
    display: grid;
    font-size: 1.25rem;
    text-decoration: none;
    padding: 10px;
}

.skiptocontent a {
    position: absolute;
    top:-40px;
    left: 0;
}

.skiptocontent a:focus {
    top: 0;
}

main {
    display: grid;
    grid-template-columns: 2fr 1fr;
    margin: 25px;
    grid-column-gap: 20px;
}

#books {
    grid-column: 1/2;
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
    grid-row-gap: 40px;
}

.side-content {
    grid-column: 1/2;
    text-align: right;
    border-right: 2px solid var(--accent-color);
    padding: 10px;
}

h3 {
    margin: 5px;
    font-weight: normal;
}

.side-content p {
    margin: 5px;
}

.main-content {
    grid-column: 2/3;
    padding: 0 0 0 20px;
}

h2 {
    color: var(--primary-color);
    text-align: left;
    font-size: 1.75rem;
    margin-top: 0;
}

.main-content p {
    text-align: left;
}

#filter {
    display: none;
}

@media screen and (min-width: 600px) {
    #filter {
        display: block;
        grid-column: 2/3;
        border: 2px solid var(--accent-color);
        margin: 25px;
    }
}